:javascript
  $(document).ready(function(){
    var owl_similar =  $(".owl-carousel.video-similar")
    owl_similar.owlCarousel({
      margin:2,
      items : 5, //10 items above 1000px browser width
      itemsDesktop : [1000,4], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,4], // betweem 900px and 601px
      itemsTablet: [700,3], //2 items between 600 and 0
      itemsMobile :[510,2], // itemsMobile disabled - inherit from itemsTablet option
      loop:true,
      nav:true,
      margin:10,
    });
    owl_similar.trigger('owl.play',10000); 
  })

