- @categories.each do |category|
  .movies-index
    %p= category.name
    .row
      .owl-carousel.video-index
        - category.videos.each do |video|
          .item
            .video.col-sm-2
              = link_to video_path(video, tab:"reviews") do
                %img(src="#{video.image_url["small_img"]}" title="#{video.title}")

