#modal_trigger_wrapper
  :javascript
    jQuery(document).ready(function(){  
      var dlg;
      $('.movie_page_trigger, .category_page_trigger').on('click', function() {
        var id = $(this).attr('data-dialog')
         dlg = new DialogFx($("#" +id + "").get(0));
        dlg.toggle();
        });

      $('#modal_close').on('click', function(){
        dlg.toggle();
        alert("I'm executing")
        })
    }); 