$('#movie_show_details').replaceWith($("#{escape_javascript render(file: 'videos/modals/movie_show_page.html.haml')}"));
$('#movie_#{@movie.id}').click();

$(".owl-carousel.video-show").owlCarousel({
loop:true,
margin:5,
autoplayHoverPause:true,
dots:true,
responsive:{
0:{
items:1
},
600:{
items:1
},
1000:{
items:1
}
}
});

