%div(id="movie_show_details" class="dialog")
  .dialog__overlay
  .dialog__content#movie_show_dialog(style="overflow-y:scroll")
    = render partial: 'videos/movie_show_page', locals: { movie: @movie, backdrops: @backdrops, cast: @cast, crew: @crew, trailer: @trailer, director: @director, similar: @similar }  
    %div.close-button
      %button.action{"data-dialog-close" => ""}

:javascript
  $('p.description').scrollbar();
